{% extends "layout.html" %}

{% block container %}
{% import "_macros.html" as macros %}

<div class="relative overflow-x-auto py-5">
    <div class="flex justify-start mb-6 mt-2">
        <a href="alumnos" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-8 py-2.5 focus:outline-none transition-colors shadow-sm">
            Agregar Alumno
        </a>
    </div>
    
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-s-base font-medium">Nombre</th>
                <th scope="col" class="px-6 py-3 font-medium">Apellidos</th>
                <th scope="col" class="px-6 py-3 font-medium">Correo</th>
                <th scope="col" class="px-6 py-3 font-medium">Teléfono</th>
                <th scope="col" class="px-6 py-3 font-medium">Editar</th>
                <th scope="col" class="px-6 py-3 font-medium">Detalles</th>
                <th scope="col" class="px-6 py-3 rounded-e-base font-medium">Eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{alum.nombre}}
                </th>
                <td class="px-6 py-4">{{alum.apellidos}}</td>
                <td class="px-6 py-4">{{alum.correo}}</td>
                <td class="px-6 py-4">{{alum.telefono}}</td>
                <td class="px-6 py-4">
                    <a href="modificar?id={{alum.id}}" class="inline-block text-warning bg-neutral-primary border border-warning hover:bg-warning hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Modificar</a>
                </td>
                <td class="px-6 py-4">
                    <a href="detalles?id={{alum.id}}" class="inline-block text-fg-brand bg-neutral-primary border border-brand hover:bg-brand hover:text-white focus:ring-4 focus:ring-brand-subtle font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Detalles</a>
                </td>
                <td class="px-6 py-4">
                    <a href="eliminar?id={{alum.id}}" class="inline-block text-danger bg-neutral-primary border border-danger hover:bg-danger hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}